<!doctype html>
<title>Similitud de frutas</title>
<h1>Elija una imagen para encontrar las frutas más similares.</h1>
<h2>¡Nuestra base de datos cuenta con más de 31.000 imágenes!</h2>
<form method=post enctype=multipart/form-data>
  <input id="fileinput" type=file name=file>
  <br>
  <br>
  <input type=submit value=Comparar>
  <br>
  <br>
  
  <div class="card">
    <img src="static/{{ruta1}}" alt="img1" >
    <div class="container">
      <h4><b>Nombre: {{ ruta1 }}</b></h4>
      <p>Coincidencia del {{ coincidencia1 }}%</p>
    </div>
  </div>

  <div class="card">
    <img src="static/{{ruta2}}" alt="img2" >
    <div class="container">
      <h4><b>Nombre: {{ ruta2 }}</b></h4>
      <p>Coincidencia del {{ coincidencia2 }}%</p>
    </div>
  </div>

  <div class="card">
    <img src="static/{{ruta3}}" alt="img3" >
    <div class="container">
      <h4><b>Nombre: {{ ruta3 }}</b></h4>
      <p>Coincidencia del {{ coincidencia3 }}%</p>
    </div>
  </div>

  <div class="card">
    <img src="static/{{ruta4}}" alt="img4" >
    <div class="container">
      <h4><b>Nombre: {{ ruta4 }}</b></h4>
      <p>Coincidencia del {{ coincidencia4 }}%</p>
    </div>
  </div>

  <div class="card">
    <img src="static/{{ruta5}}" alt="img5" >
    <div class="container">
      <h4><b>Nombre: {{ ruta5 }}</b></h4>
      <p>Coincidencia del {{ coincidencia5 }}%</p>
    </div>
  </div>




</form>